
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ODEV1</title>
</head>
<body>
    <table border="1" align="center" cellpadding="10" cellspacing="10" >
        <tr>
            <th align="center" colspan="6">Time Table</th> 
            </tr>
        <tr>
            <th rowspan="5">Hours</th>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
        <tr>
            <td>COMPUTER</td>
            <td>MATHS</td>
            <td>COMPUTER</td>
            <td>MATHS</td>
            <td>ARTS</td>
        </tr>
        <tr>
            <th colspan="5" align="center" >LUNCH</th>
        </tr>
        <tr>
            <td>COMPUTER</td>
            <td>MATHS</td>
            <td>COMPUTER</td>
            <td>MATHS</td>
            <td rowspan="2">PROJECT</td>
        </tr>
        <tr>
            <td>COMPUTER</td>
            <td>MATHS</td>
            <td>COMPUTER</td>
            <td>MATHS</td>

        </tr>
    </table>
    <div> 
    </div>
</body>
</html>
